.home {
  display: flex;
  align-items: center;
  width: 100%;
  height: 94vh;
  background-image: url(../../assets/img/HomeBackGround.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.homeContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  color: white;
}

.homeContainer h1 {
  font-size: 82px;
}

.homeContainer p {
  font-size: 30px;
}

.homeContainer button {
  cursor: pointer;
  margin-top: 15px;
  padding: 10px 0;
  border: 2px solid white;
  background-color: transparent;
  transition: 0.3s;
}

.homeContainer a {
  padding: 10px 15px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.homeContainer button:hover {
  background-color: white;
  border: 2px solid #222222;
  color: #222222;
}

.homeContainer button:hover a {
  color: #222222;
}

@media screen and (max-width: 426px) {
  .homeContainer {
    padding-bottom: 200px;
  }

  .homeContainer h1 {
    font-size: 52px;
  }
}
