.product {
  width: 100%;
  padding: 90px 0 120px;
}

.productContainer {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.productImage {
  max-width: 32%;
  width: 100%;
  border-right: 2px solid #222222;
}

.productImage img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.productDesc {
  flex-grow: 1;
  margin-left: 20px;
}

.productDesc h3 {
  font-size: 38px;
  margin-bottom: 35px;
}

.productDesc span {
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}
.productDesc p {
  margin-bottom: 60px;
}

.productDesc button {
  cursor: pointer;
  padding: 10px 25px;
  font-size: 20px;
  border: none;
  background-color: #cea600;
  color: white;
  transition: 0.3s;
}

.productDesc button:hover {
  background-color: #ebc700;
}

@media screen and (max-width: 768px) {
  .product {
    padding: 0 0 60px;
  }
  .productContainer {
    flex-direction: column;
  }

  .productImage {
    border: none;
    max-width: 100%;
  }

  .productImage img {
    padding: 80px 80px 25px;
  }

  .productDesc {
    margin: 0;
  }

  .productDesc button {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .productImage img {
    padding: 50px 50px 25px;
  }
}
