.products {
  width: 100%;
  padding: 50px 0 100px;
}

.productsContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
/* filters */
.filterProducts {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
  border-bottom: 2px solid #222222;
}

.hiddenFilterButtons {
  transform: translateX(112%);
  transition: 0.5s ease-in-out;
}

.visible {
  transition: 0.3s ease-in-out;
  transform: translateX(0);
}

.filterProducts h2 {
  color: #222222;
  font-weight: 400;
  margin-right: auto;
}

.filterProducts button {
  cursor: pointer;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.filterProducts button:hover {
  color: #ebc700;
}

.filterProducts svg {
  z-index: 1;
  cursor: pointer;
  color: #222222;
  background-color: #ffffff;
}
/* product cards */
.cardContainer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 30px;
  row-gap: 8vh;
}

.card {
  box-shadow: 0 0 10px #bebebe;
}

.card a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #222222;
  text-decoration: none;
}
/* IMG */
.imgContainer {
  flex-grow: 1;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card img {
  object-fit: contain;
  width: 80%;
  height: 80%;
}
/* DESC */
.cardDescription {
  margin: 40px 0 10px 15px;
}

.cardDescription p {
  margin-bottom: 6px;
}

@media screen and (max-width: 769px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .filterProducts button {
    margin: 0 4px;
  }

  .filterProducts svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 450px) {
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .productsContainer {
    position: relative;
  }

  .filterProducts {
    background-color: #ffffff;
    z-index: 15;
    margin-bottom: 63px;
  }

  .visible,
  .hiddenFilterButtons {
    position: absolute;
    top: 60px;
    right: 40px;
    display: flex;
    gap: 5px;
  }

  .visible button,
  .hiddenFilterButtons button {
    font-weight: bold;
  }

  .hiddenFilterButtons {
    z-index: -1;
    transform: translateY(-214%);
    transition: 0.5s ease-in-out;
  }

  .visible {
    z-index: 1;
    transition: 0.3s ease-in-out;
    transform: translateY(0);
  }
}
